.getstarted-main-container{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.getstarted-main-container img{
    width: 300px;
}