.full-app-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.nav-links-active{
    padding-bottom: 2px ;
   border-bottom: 2px solid red;
}

.nav-links-normal{
    padding-bottom: 0px;
    border: none;
}